/* TEST CODE - CUSTOMIZE*/

body {
  background: rgb(253, 255, 255);
}

.todo-container {
  background: rgb(51, 197, 213);
  width: 40vw;
  margin: 10em auto;
  border-radius: 15px;
  padding: 20px 10px;
  color: white;
}

.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

#complete {
  background: rgb(37, 220, 52);
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
  float: right;
}

#delete {
  background: rgb(220, 37, 37);
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
  float: right;
}

#add {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: auto; 
  padding: auto;
  border: none;
  cursor: pointer;
}

#submit {
  display: block;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0 auto; 
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  font-size: 1.5em;;
  font-family: 'Cerebri Sans';
  font-weight: 700;
  text-align: center;
}

.create-task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

.MuiToolbar-root {
  background-color: rgb(51, 197, 213) !important;
}

.MuiPickersDay-daySelected {
  background-color: rgb(51, 197, 213) !important;
}